In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('spark-pract').getOrCreate()

In [4]:
df_spark = spark.read.csv('food_consumption.csv',header=True,inferSchema=True)

In [6]:
df_spark.show()

+---------+--------------------+-----------+-------------+
|  country|       food_category|consumption|co2_emmission|
+---------+--------------------+-----------+-------------+
|Argentina|                Pork|      10.51|         37.2|
|Argentina|             Poultry|      38.66|        41.53|
|Argentina|                Beef|      55.48|       1712.0|
|Argentina|         Lamb & Goat|       1.56|        54.63|
|Argentina|                Fish|       4.36|         6.96|
|Argentina|                Eggs|      11.39|        10.46|
|Argentina|  Milk - inc. cheese|     195.08|       277.87|
|Argentina|Wheat and Wheat P...|     103.11|        19.66|
|Argentina|                Rice|       8.77|        11.22|
|Argentina|            Soybeans|        0.0|          0.0|
|Argentina|Nuts inc. Peanut ...|       0.49|         0.87|
|Australia|                Pork|      24.14|        85.44|
|Australia|             Poultry|      46.12|        49.54|
|Australia|                Beef|      33.86|      1044.85|
|Australia|         Lamb & Goat|       9.87|       345.65|
|Australia|                Fish|      17.69|        28.25|
|Australia|                Eggs|       8.51|         7.82|
|Australia|  Milk - inc. cheese|     234.49|       334.01|
|Australia|Wheat and Wheat P...|      70.46|        13.44|
|Australia|                Rice|      11.03|        14.12|
+---------+--------------------+-----------+-------------+
only showing top 20 rows

In [7]:
df_spark.printSchema()

root
 |-- country: string (nullable = true)
 |-- food_category: string (nullable = true)
 |-- consumption: double (nullable = true)
 |-- co2_emmission: double (nullable = true)

In [8]:
df_spark.groupBy('country').sum().show()

+--------------------+------------------+------------------+
|             country|  sum(consumption)|sum(co2_emmission)|
+--------------------+------------------+------------------+
|              Russia|            408.73|           1007.66|
|            Paraguay|            189.17|            876.67|
|             Senegal|            169.67|469.42999999999995|
|              Sweden| 550.0000000000001|1527.0300000000002|
|         Philippines|227.79000000000002|455.28000000000003|
|            Malaysia|282.73999999999995|            554.64|
|                Fiji|252.52000000000004| 716.0899999999998|
|Hong Kong SAR. China|            321.28|           1267.44|
|              Turkey|            433.21| 897.0099999999999|
|              Malawi| 50.99999999999999|            207.94|
|             Germany| 461.0999999999999|           1066.29|
|            Cambodia|            225.06|452.40999999999997|
|            Maldives| 476.3299999999999|            903.46|
|              Jordan|            291.42|            587.96|
|              Rwanda|40.379999999999995|            181.63|
|              France|479.16999999999996|           1420.05|
|              Greece|            493.63|1497.2899999999997|
|           Sri Lanka|218.76999999999998|            294.46|
|             Algeria|364.51000000000005|            707.88|
|                Togo| 74.32000000000001|188.08999999999997|
+--------------------+------------------+------------------+
only showing top 20 rows

In [9]:
df_spark.groupBy('country').avg().show()

+--------------------+------------------+------------------+
|             country|  avg(consumption)|avg(co2_emmission)|
+--------------------+------------------+------------------+
|              Russia|37.157272727272726| 91.60545454545455|
|            Paraguay|17.197272727272725| 79.69727272727272|
|             Senegal|15.424545454545454| 42.67545454545454|
|              Sweden| 50.00000000000001| 138.8209090909091|
|         Philippines| 20.70818181818182| 41.38909090909091|
|            Malaysia| 25.70363636363636| 50.42181818181818|
|                Fiji| 22.95636363636364| 65.09909090909089|
|Hong Kong SAR. China| 53.54666666666666|            211.24|
|              Turkey| 39.38272727272727| 81.54636363636362|
|              Malawi| 4.636363636363636|18.903636363636362|
|             Germany| 41.91818181818181| 96.93545454545455|
|            Cambodia|             20.46|41.128181818181815|
|            Maldives| 43.30272727272727| 82.13272727272728|
|              Jordan|26.492727272727276| 53.45090909090909|
|              Rwanda|3.6709090909090905| 16.51181818181818|
|              France|43.560909090909085|129.09545454545454|
|              Greece|44.875454545454545| 136.1172727272727|
|           Sri Lanka|19.888181818181817|26.769090909090906|
|             Algeria| 33.13727272727273| 64.35272727272728|
|                Togo| 6.756363636363637|17.099090909090908|
+--------------------+------------------+------------------+
only showing top 20 rows

In [11]:
df_spark.groupBy('food_category').sum().show()

+--------------------+------------------+------------------+
|       food_category|  sum(consumption)|sum(co2_emmission)|
+--------------------+------------------+------------------+
|             Poultry|           2708.95|2909.9300000000003|
|         Lamb & Goat| 332.9699999999998|          11660.53|
|                NULL|              NULL|              NULL|
|                Beef| 1545.139999999999| 47679.74999999998|
|Nuts inc. Peanut ...| 524.0299999999997| 927.5499999999998|
|            Soybeans|109.08000000000001| 49.09000000000001|
|                Rice| 3775.290000000001|4831.2699999999995|
|                Pork| 2081.330000000001| 7366.899999999999|
|                Fish| 2165.930000000001|3458.2700000000004|
|Wheat and Wheat P...| 9301.439999999999|1773.7799999999993|
|  Milk - inc. cheese|          16350.71|23289.999999999996|
|                Eggs|1061.2900000000002| 974.9499999999996|
+--------------------+------------------+------------------+

In [12]:
df_spark.agg({'consumption':'mean'}).show()

+------------------+
|  avg(consumption)|
+------------------+
|28.138140845070446|
+------------------+