In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('spark-pract').getOrCreate()

In [4]:
df_spark = spark.read.csv('food_consumption.csv',header=True,inferSchema=True)

In [5]:
df_spark.show()

+---------+--------------------+-----------+-------------+
|  country|       food_category|consumption|co2_emmission|
+---------+--------------------+-----------+-------------+
|Argentina|                Pork|      10.51|         37.2|
|Argentina|             Poultry|      38.66|        41.53|
|Argentina|                Beef|      55.48|       1712.0|
|Argentina|         Lamb & Goat|       1.56|        54.63|
|Argentina|                Fish|       4.36|         6.96|
|Argentina|                Eggs|      11.39|        10.46|
|Argentina|  Milk - inc. cheese|     195.08|       277.87|
|Argentina|Wheat and Wheat P...|     103.11|        19.66|
|Argentina|                Rice|       8.77|        11.22|
|Argentina|            Soybeans|        0.0|          0.0|
|Argentina|Nuts inc. Peanut ...|       0.49|         0.87|
|Australia|                Pork|      24.14|        85.44|
|Australia|             Poultry|      46.12|        49.54|
|Australia|                Beef|      33.86|      1044.85|
|Australia|         Lamb & Goat|       9.87|       345.65|
|Australia|                Fish|      17.69|        28.25|
|Australia|                Eggs|       8.51|         7.82|
|Australia|  Milk - inc. cheese|     234.49|       334.01|
|Australia|Wheat and Wheat P...|      70.46|        13.44|
|Australia|                Rice|      11.03|        14.12|
+---------+--------------------+-----------+-------------+
only showing top 20 rows

In [6]:
#Filter Operations

### Salary of the people less than or equal to 20000
df_spark.filter("consumption<=40").show()

+---------+--------------------+-----------+-------------+
|  country|       food_category|consumption|co2_emmission|
+---------+--------------------+-----------+-------------+
|Argentina|                Pork|      10.51|         37.2|
|Argentina|             Poultry|      38.66|        41.53|
|Argentina|         Lamb & Goat|       1.56|        54.63|
|Argentina|                Fish|       4.36|         6.96|
|Argentina|                Eggs|      11.39|        10.46|
|Argentina|                Rice|       8.77|        11.22|
|Argentina|            Soybeans|        0.0|          0.0|
|Argentina|Nuts inc. Peanut ...|       0.49|         0.87|
|Australia|                Pork|      24.14|        85.44|
|Australia|                Beef|      33.86|      1044.85|
|Australia|         Lamb & Goat|       9.87|       345.65|
|Australia|                Fish|      17.69|        28.25|
|Australia|                Eggs|       8.51|         7.82|
|Australia|                Rice|      11.03|        14.12|
|Australia|            Soybeans|       0.19|         0.09|
|Australia|Nuts inc. Peanut ...|       8.73|        15.45|
|  Albania|                Pork|      10.88|        38.51|
|  Albania|             Poultry|      13.23|        14.21|
|  Albania|                Beef|       22.5|        694.3|
|  Albania|         Lamb & Goat|      15.32|        536.5|
+---------+--------------------+-----------+-------------+
only showing top 20 rows

In [7]:
df_spark.filter("consumption<=40").count()

1164

In [ ]:
df_spark.filter("food_category='Eggs'").select(['country']).distinct().count()

130

In [12]:
df_spark.filter(df_spark['co2_emmission']<=20.09).count()

778

In [14]:
df_spark.filter(df_spark['country'].isin('India')).show()

+-------+--------------------+-----------+-------------+
|country|       food_category|consumption|co2_emmission|
+-------+--------------------+-----------+-------------+
|  India|                Pork|       0.28|         0.99|
|  India|             Poultry|       1.88|         2.02|
|  India|                Beef|       0.81|        24.99|
|  India|         Lamb & Goat|       0.58|        20.31|
|  India|                Fish|       4.71|         7.52|
|  India|                Eggs|       2.58|         2.37|
|  India|  Milk - inc. cheese|       84.5|       120.36|
|  India|Wheat and Wheat P...|      60.56|        11.55|
|  India|                Rice|      69.49|        88.93|
|  India|            Soybeans|       0.39|         0.18|
|  India|Nuts inc. Peanut ...|       1.92|          3.4|
+-------+--------------------+-----------+-------------+

In [15]:
df_spark.filter((df_spark['consumption']<=1) | 
                  (df_spark['consumption']>=11.9)).count()

844

In [18]:
df_spark.filter(~(df_spark['consumption']<=200)).count()

29