In [1]:
import pyspark

In [12]:
pyspark.version

In [2]:
!ls

food_consumption.csv
spark-practicals-1.ipynb
spark-practicals-2.ipynb

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('spark-pract').getOrCreate()

In [4]:
spark

In [5]:
df_spark = spark.read.csv('food_consumption.csv')

In [6]:
df_spark.show()

+---------+--------------------+-----------+-------------+
|      _c0|                 _c1|        _c2|          _c3|
+---------+--------------------+-----------+-------------+
|  country|       food_category|consumption|co2_emmission|
|Argentina|                Pork|      10.51|         37.2|
|Argentina|             Poultry|      38.66|        41.53|
|Argentina|                Beef|      55.48|         1712|
|Argentina|         Lamb & Goat|       1.56|        54.63|
|Argentina|                Fish|       4.36|         6.96|
|Argentina|                Eggs|      11.39|        10.46|
|Argentina|  Milk - inc. cheese|     195.08|       277.87|
|Argentina|Wheat and Wheat P...|     103.11|        19.66|
|Argentina|                Rice|       8.77|        11.22|
|Argentina|            Soybeans|          0|            0|
|Argentina|Nuts inc. Peanut ...|       0.49|         0.87|
|Australia|                Pork|      24.14|        85.44|
|Australia|             Poultry|      46.12|        49.54|
|Australia|                Beef|      33.86|      1044.85|
|Australia|         Lamb & Goat|       9.87|       345.65|
|Australia|                Fish|      17.69|        28.25|
|Australia|                Eggs|       8.51|         7.82|
|Australia|  Milk - inc. cheese|     234.49|       334.01|
|Australia|Wheat and Wheat P...|      70.46|        13.44|
+---------+--------------------+-----------+-------------+
only showing top 20 rows

In [7]:
df_pyspark = spark.read.option('header','true').csv('food_consumption.csv',inferSchema=True)

In [8]:
df_pyspark.show()

+---------+--------------------+-----------+-------------+
|  country|       food_category|consumption|co2_emmission|
+---------+--------------------+-----------+-------------+
|Argentina|                Pork|      10.51|         37.2|
|Argentina|             Poultry|      38.66|        41.53|
|Argentina|                Beef|      55.48|       1712.0|
|Argentina|         Lamb & Goat|       1.56|        54.63|
|Argentina|                Fish|       4.36|         6.96|
|Argentina|                Eggs|      11.39|        10.46|
|Argentina|  Milk - inc. cheese|     195.08|       277.87|
|Argentina|Wheat and Wheat P...|     103.11|        19.66|
|Argentina|                Rice|       8.77|        11.22|
|Argentina|            Soybeans|        0.0|          0.0|
|Argentina|Nuts inc. Peanut ...|       0.49|         0.87|
|Australia|                Pork|      24.14|        85.44|
|Australia|             Poultry|      46.12|        49.54|
|Australia|                Beef|      33.86|      1044.85|
|Australia|         Lamb & Goat|       9.87|       345.65|
|Australia|                Fish|      17.69|        28.25|
|Australia|                Eggs|       8.51|         7.82|
|Australia|  Milk - inc. cheese|     234.49|       334.01|
|Australia|Wheat and Wheat P...|      70.46|        13.44|
|Australia|                Rice|      11.03|        14.12|
+---------+--------------------+-----------+-------------+
only showing top 20 rows

In [13]:
#CHECKING THE SCHEMA
df_pyspark.printSchema()

root
 |-- country: string (nullable = true)
 |-- food_category: string (nullable = true)
 |-- consumption: double (nullable = true)
 |-- co2_emmission: double (nullable = true)

In [14]:
df_spark = spark.read.csv('food_consumption.csv',header=True,inferSchema=True)

In [15]:
df_spark.show()

+---------+--------------------+-----------+-------------+
|  country|       food_category|consumption|co2_emmission|
+---------+--------------------+-----------+-------------+
|Argentina|                Pork|      10.51|         37.2|
|Argentina|             Poultry|      38.66|        41.53|
|Argentina|                Beef|      55.48|       1712.0|
|Argentina|         Lamb & Goat|       1.56|        54.63|
|Argentina|                Fish|       4.36|         6.96|
|Argentina|                Eggs|      11.39|        10.46|
|Argentina|  Milk - inc. cheese|     195.08|       277.87|
|Argentina|Wheat and Wheat P...|     103.11|        19.66|
|Argentina|                Rice|       8.77|        11.22|
|Argentina|            Soybeans|        0.0|          0.0|
|Argentina|Nuts inc. Peanut ...|       0.49|         0.87|
|Australia|                Pork|      24.14|        85.44|
|Australia|             Poultry|      46.12|        49.54|
|Australia|                Beef|      33.86|      1044.85|
|Australia|         Lamb & Goat|       9.87|       345.65|
|Australia|                Fish|      17.69|        28.25|
|Australia|                Eggs|       8.51|         7.82|
|Australia|  Milk - inc. cheese|     234.49|       334.01|
|Australia|Wheat and Wheat P...|      70.46|        13.44|
|Australia|                Rice|      11.03|        14.12|
+---------+--------------------+-----------+-------------+
only showing top 20 rows

In [16]:
df_spark.printSchema()

root
 |-- country: string (nullable = true)
 |-- food_category: string (nullable = true)
 |-- consumption: double (nullable = true)
 |-- co2_emmission: double (nullable = true)

In [17]:
type(df_spark)

pyspark.sql.classic.dataframe.DataFrame

In [18]:
df_spark.columns

['country', 'food_category', 'consumption', 'co2_emmission']

In [19]:
df_spark.select(['country','food_category']).show()

+---------+--------------------+
|  country|       food_category|
+---------+--------------------+
|Argentina|                Pork|
|Argentina|             Poultry|
|Argentina|                Beef|
|Argentina|         Lamb & Goat|
|Argentina|                Fish|
|Argentina|                Eggs|
|Argentina|  Milk - inc. cheese|
|Argentina|Wheat and Wheat P...|
|Argentina|                Rice|
|Argentina|            Soybeans|
|Argentina|Nuts inc. Peanut ...|
|Australia|                Pork|
|Australia|             Poultry|
|Australia|                Beef|
|Australia|         Lamb & Goat|
|Australia|                Fish|
|Australia|                Eggs|
|Australia|  Milk - inc. cheese|
|Australia|Wheat and Wheat P...|
|Australia|                Rice|
+---------+--------------------+
only showing top 20 rows

In [20]:
df_spark.dtypes

[('country', 'string'),
 ('food_category', 'string'),
 ('consumption', 'double'),
 ('co2_emmission', 'double')]

In [21]:
df_spark.describe().show()

+-------+--------+--------------------+------------------+------------------+
|summary| country|       food_category|       consumption|     co2_emmission|
+-------+--------+--------------------+------------------+------------------+
|  count|    1420|                1420|              1420|              1420|
|   mean|    NULL|                NULL|28.138140845070446| 73.88874647887327|
| stddev|    NULL|                NULL| 49.96958016488335|150.81477157565985|
|    min| Albania|                Beef|               0.0|               0.0|
|    max|Zimbabwe|Wheat and Wheat P...|            430.76|            1712.0|
+-------+--------+--------------------+------------------+------------------+

In [22]:
# Adding columns in dataframe

In [23]:
df_pyspark = df_spark.withColumn('halved-consumption',df_spark['consumption']/2)

In [24]:
df_pyspark.show()

+---------+--------------------+-----------+-------------+------------------+
|  country|       food_category|consumption|co2_emmission|halved-consumption|
+---------+--------------------+-----------+-------------+------------------+
|Argentina|                Pork|      10.51|         37.2|             5.255|
|Argentina|             Poultry|      38.66|        41.53|             19.33|
|Argentina|                Beef|      55.48|       1712.0|             27.74|
|Argentina|         Lamb & Goat|       1.56|        54.63|              0.78|
|Argentina|                Fish|       4.36|         6.96|              2.18|
|Argentina|                Eggs|      11.39|        10.46|             5.695|
|Argentina|  Milk - inc. cheese|     195.08|       277.87|             97.54|
|Argentina|Wheat and Wheat P...|     103.11|        19.66|            51.555|
|Argentina|                Rice|       8.77|        11.22|             4.385|
|Argentina|            Soybeans|        0.0|          0.0|               0.0|
|Argentina|Nuts inc. Peanut ...|       0.49|         0.87|             0.245|
|Australia|                Pork|      24.14|        85.44|             12.07|
|Australia|             Poultry|      46.12|        49.54|             23.06|
|Australia|                Beef|      33.86|      1044.85|             16.93|
|Australia|         Lamb & Goat|       9.87|       345.65|             4.935|
|Australia|                Fish|      17.69|        28.25|             8.845|
|Australia|                Eggs|       8.51|         7.82|             4.255|
|Australia|  Milk - inc. cheese|     234.49|       334.01|           117.245|
|Australia|Wheat and Wheat P...|      70.46|        13.44|             35.23|
|Australia|                Rice|      11.03|        14.12|             5.515|
+---------+--------------------+-----------+-------------+------------------+
only showing top 20 rows

In [25]:
df_pyspark = df_pyspark.drop('halved-consumption')

In [26]:
# Renaming the Column
df_pyspark.withColumnRenamed('consumption','consumed').show()

+---------+--------------------+--------+-------------+
|  country|       food_category|consumed|co2_emmission|
+---------+--------------------+--------+-------------+
|Argentina|                Pork|   10.51|         37.2|
|Argentina|             Poultry|   38.66|        41.53|
|Argentina|                Beef|   55.48|       1712.0|
|Argentina|         Lamb & Goat|    1.56|        54.63|
|Argentina|                Fish|    4.36|         6.96|
|Argentina|                Eggs|   11.39|        10.46|
|Argentina|  Milk - inc. cheese|  195.08|       277.87|
|Argentina|Wheat and Wheat P...|  103.11|        19.66|
|Argentina|                Rice|    8.77|        11.22|
|Argentina|            Soybeans|     0.0|          0.0|
|Argentina|Nuts inc. Peanut ...|    0.49|         0.87|
|Australia|                Pork|   24.14|        85.44|
|Australia|             Poultry|   46.12|        49.54|
|Australia|                Beef|   33.86|      1044.85|
|Australia|         Lamb & Goat|    9.87|       345.65|
|Australia|                Fish|   17.69|        28.25|
|Australia|                Eggs|    8.51|         7.82|
|Australia|  Milk - inc. cheese|  234.49|       334.01|
|Australia|Wheat and Wheat P...|   70.46|        13.44|
|Australia|                Rice|   11.03|        14.12|
+---------+--------------------+--------+-------------+
only showing top 20 rows